.nav {
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
}

body {
  padding: 2rem 0;
}
.contenedor {
  width: 70vw;
  width: clamp(16rem, 90vw, 80rem);
  margin-left: auto;
  margin-right: auto;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-template-rows: masonry;
  grid-gap: 1rem;
  padding: 0;
}

.masonry li {
  margin: 0;
  list-style-type: none;
}

img {
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

